<div id="{{dataValues.id}}" class="carousel-cell">
  <div class="container">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{dataValues.title}}</h5>
      <small>{{dataValues.category}} | {{dataValues.location}}</small>
    </div>
    <p class="mb-1 h-100">{{dataValues.body}}</p>
    <small>Posted on: {{dataValues.createdAt}}</small>
    <hr>
    <div class="row justify-content-between">
    <a href="/profile/{{dataValues.UserId}}" id="profileLink"  class="btn btn-outline-danger">See user profile</a>
    <button id="interested-{{dataValues.id}}" type="button" value="{{dataValues.interested}}" class="btn btn-outline-secondary interestedBtn">Show Interest <span id="likeCount{{dataValues.id}}" class="badge badge-light likeCount">0</span>
    
    <span class="sr-only">unread messages</span></button>
    </div>
  </div>
</div>
