<li style="list-style: none;">
<div class="card text-center">
  <div class="card-header">
    {{dataValues.title}}
	<button class="btn btn-primary btn-sm">edit</button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{dataValues.title}}</h5>
    <p class="card-text">{{dataValues.body}}</p>
    <a href="#" class="btn btn-primary btn-sm">I'm Interested</a>
	<a href="#" class="btn btn-primary btn-sm">See {{post.user}}'s profile.</a>
  </div>
  <div class="card-footer text-muted">
    {{dataValues.createdAt}}
  </div>
</div>
</li>
