<script src="/assets/js/match.js"></script>
<link rel="stylesheet" href="/assets/css/style.css">
{{!-- google fonts --}}
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Della+Respira&family=Poiret+One&family=Rock+Salt&display=swap" rel="stylesheet">


    <div class="container">
        <div class="text-center">
            <div class="row" id="margin">
                <div class="col-md-8 offset-md-2" id="profile">
                    <br>
                    <div class="col-md">
                        <img src="{{Profile.dataValues.avatar}}" class="img-fluid rounded-circle"
                            alt="Responsive image">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h1 id="name">{{Profile.dataValues.first_name}} {{Profile.dataValues.last_name}}</h1>                            <hr>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 id="age">Age: {{Profile.dataValues.age}}</h3>
                        </div>
                        <div class="col-md-4">
                            <h3 id="orientation">Orientation: {{Profile.dataValues.orientation}}</h3>
                        </div>
                        <div class="col-md-4">
                            <h3 id="location">{{Profile.dataValues.location}}</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Hello, my name is{{Profile.dataValues.first_name}} {{Profile.dataValues.last_name}} and let me tell you a bit about myself.
                            </p>
                            <!-- <br> -->
                            <p>I like to {{Profile.dataValues.aboutMe1}} and I am looking for someone who wants to {{Profile.dataValues.userPref1}}. I'm always {{Profile.dataValues.aboutMe2}}, so lets  {{Profile.dataValues.userPref2}} .  Lastly, Know that {{Profile.dataValues.aboutMe3}} is really important to me so I hope you {{Profile.dataValues.userPref3}}.
                            </p>
                            <p>If you think this could workout then show interest in one of my <a href="/posts/{{Profile.dataValues.id}}">posts!</a></p>
                        </div>
                    </div>
                    <input id="othersId" value="{{Profile.dataValues.id}}" hidden>
                    <a type="button" class="btn btn-primary" href="/posts/{{Profile.dataValues.id}}" role="button">See {{Profile.dataValues.gender}} dates.</a>
                    <!-- Button trigger modal -->
                    <button id="modalToggleBtn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#matchModal">Match with {{Profile.dataValues.first_name}}!</button>

                    <!-- Modal -->
                    <div class="modal fade" id="matchModal" tabindex="-1" aria-labelledby="matchModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="matchModalLabel">Match with {{Profile.dataValues.first_name}}?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Looks like love is in the air! Are you sure you want to do this? There's no going back. . .
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">I've changed my mind</button>
                            <button id="match" type="button" class="btn btn-danger">Match!</button>
                        </div>
                        </div>
                    </div>
                    </div>
         
                </div>
            </div>
        </div>


<!-- Modal -->
<div class="modal fade" id="badPage" tabindex="-1" aria-labelledby="pageNoGood" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pageNoGood">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    </div>
    <br>
    <br>
    <br>